In [117]:
import pandas as pd

In [118]:
# GERAL = pd.read_csv('GERAL.csv', delimiter=';')
# MAES_NOVAS = pd.read_csv('MAES_NOVAS.csv', delimiter=';')
# MAES_VELHAS = pd.read_csv('MAES_VELHAS.csv', delimiter=';')

In [119]:
df = pd.read_csv('DataSet_Final.csv',sep=';')
df

,Peso,Menos de 22 semanas,De 22 a 27 semanas,De 28 a 31 semanas,De 32 a 36 semanas,"De 28 a 36 semanas, n�o especificado",De 37 a 41 semanas,42 semanas ou mais,Vaginal,Ces�rio,Total
0,Menos de 500g,12730,19931,1900,2948,340,26610,1190,42432,23217,65649
1,500 a 999g,10803,200486,79416,14208,13258,15547,585,200523,133780,334303
2,1000 a 1499 g,1661,61996,230924,163736,53537,49866,1747,245749,317718,563467
3,1500 a 2499 g,2291,29715,194164,2100133,258631,3082001,53522,2870307,2850150,5720457
4,2500 a 2999 g,4237,17597,35788,1554257,143809,16371224,315606,10145986,8296532,18442518
5,3000 a 3999 g,11489,35685,47099,1283002,159155,48905622,1276033,26744741,24973344,51718085
6,4000g e mais,1344,3756,3037,69047,15353,4058587,163670,1905456,2409338,4314794
7,Total,44555,369166,592328,5187331,644083,72509457,1812353,42155194,39004079,81159273

In [120]:
# Categorização
# A idade gestacional ao nascer determina a base das subcategorias do RN prematuro: 
# Pré-termo extremo (<28 semanas) 
# Muito pré-termo (28 a <32 semanas) 
# Pré-termo moderado (32 a <37 semanas) 
# Pré-termo tardio: 34 a <37 semanas) 
# A termo: 37-42 semanas incompletas
# Pós-Termo: ≥ 42 semanas
df['a-prematuro extremo'] = df['De 22 a 27 semanas'] + df['Menos de 22 semanas']
df.drop(axis=1,inplace=True,columns=['Menos de 22 semanas','De 22 a 27 semanas'])
df.rename(columns={'De 28 a 31 semanas':'b-muito pre-termo','De 32 a 36 semanas':'c-pre-termo moderado',
                    'De 37 a 41 semanas':'d-a termo','42 semanas ou mais':'e-pos-termo','De 28 a 36 semanas, n�o especificado':'f-nao especificado'},inplace=True)

In [121]:
df.keys()

Index(['Peso', 'b-muito pre-termo', 'c-pre-termo moderado',
       'f-nao especificado', 'd-a termo', 'e-pos-termo', 'Vaginal', 'Ces�rio',
       'Total', 'a-prematuro extremo'],
      dtype='object')

In [122]:
# reordenando
df = df[['Peso', 'a-prematuro extremo', 'b-muito pre-termo', 'c-pre-termo moderado',
        'd-a termo', 'e-pos-termo','f-nao especificado', 'Vaginal', 'Ces�rio',
       'Total']]

df

,Peso,a-prematuro extremo,b-muito pre-termo,c-pre-termo moderado,d-a termo,e-pos-termo,f-nao especificado,Vaginal,Ces�rio,Total
0,Menos de 500g,32661,1900,2948,26610,1190,340,42432,23217,65649
1,500 a 999g,211289,79416,14208,15547,585,13258,200523,133780,334303
2,1000 a 1499 g,63657,230924,163736,49866,1747,53537,245749,317718,563467
3,1500 a 2499 g,32006,194164,2100133,3082001,53522,258631,2870307,2850150,5720457
4,2500 a 2999 g,21834,35788,1554257,16371224,315606,143809,10145986,8296532,18442518
5,3000 a 3999 g,47174,47099,1283002,48905622,1276033,159155,26744741,24973344,51718085
6,4000g e mais,5100,3037,69047,4058587,163670,15353,1905456,2409338,4314794
7,Total,413721,592328,5187331,72509457,1812353,644083,42155194,39004079,81159273

In [123]:
# Tamanho Excessivamente Grande: ≥ 4500g
# Peso Normal: 2500g – 3999g
# Baixo Peso ao Nascer: < 2500g
# Muito Baixo Peso ao Nascer: < 1500g
# Extremo baixo Peso ao Nascer: <1000g

# juntando menos 500 a 999
peso_baixo_extremo = df.iloc[0]+df.iloc[1]
peso_baixo_extremo['Peso'] = 'a-extremamente baixo'
df = pd.concat([df, peso_baixo_extremo.to_frame().T], ignore_index=True)

df['Peso'] = df['Peso'].replace({'1000 a 1499 g': 'b-muito baixo peso'})

df['Peso'] = df['Peso'].replace({'1500 a 2499 g': 'c-baixo peso'})

# juntando 2500 a 3999
peso_normal = df.iloc[4]+df.iloc[5]
peso_normal['Peso'] = 'd-normal'
df = pd.concat([df, peso_normal.to_frame().T], ignore_index=True)

df['Peso'] = df['Peso'].replace({'4000g e mais': 'e-peso excessivo'})
df

,Peso,a-prematuro extremo,b-muito pre-termo,c-pre-termo moderado,d-a termo,e-pos-termo,f-nao especificado,Vaginal,Ces�rio,Total
0,Menos de 500g,32661,1900,2948,26610,1190,340,42432,23217,65649
1,500 a 999g,211289,79416,14208,15547,585,13258,200523,133780,334303
2,b-muito baixo peso,63657,230924,163736,49866,1747,53537,245749,317718,563467
3,c-baixo peso,32006,194164,2100133,3082001,53522,258631,2870307,2850150,5720457
4,2500 a 2999 g,21834,35788,1554257,16371224,315606,143809,10145986,8296532,18442518
5,3000 a 3999 g,47174,47099,1283002,48905622,1276033,159155,26744741,24973344,51718085
6,e-peso excessivo,5100,3037,69047,4058587,163670,15353,1905456,2409338,4314794
7,Total,413721,592328,5187331,72509457,1812353,644083,42155194,39004079,81159273
8,a-extremamente baixo,243950,81316,17156,42157,1775,13598,242955,156997,399952
9,d-normal,69008,82887,2837259,65276846,1591639,302964,36890727,33269876,70160603

In [124]:
df = df.drop({0,1,4,5})

In [125]:
indices_ordenados = df['Peso'].argsort()

In [126]:
df = df.iloc[indices_ordenados].reset_index(drop=True)
df

,Peso,a-prematuro extremo,b-muito pre-termo,c-pre-termo moderado,d-a termo,e-pos-termo,f-nao especificado,Vaginal,Ces�rio,Total
0,Total,413721,592328,5187331,72509457,1812353,644083,42155194,39004079,81159273
1,a-extremamente baixo,243950,81316,17156,42157,1775,13598,242955,156997,399952
2,b-muito baixo peso,63657,230924,163736,49866,1747,53537,245749,317718,563467
3,c-baixo peso,32006,194164,2100133,3082001,53522,258631,2870307,2850150,5720457
4,d-normal,69008,82887,2837259,65276846,1591639,302964,36890727,33269876,70160603
5,e-peso excessivo,5100,3037,69047,4058587,163670,15353,1905456,2409338,4314794

In [127]:
# df.to_csv('DataTratada.csv',index=False,sep=';')
df

,Peso,a-prematuro extremo,b-muito pre-termo,c-pre-termo moderado,d-a termo,e-pos-termo,f-nao especificado,Vaginal,Ces�rio,Total
0,Total,413721,592328,5187331,72509457,1812353,644083,42155194,39004079,81159273
1,a-extremamente baixo,243950,81316,17156,42157,1775,13598,242955,156997,399952
2,b-muito baixo peso,63657,230924,163736,49866,1747,53537,245749,317718,563467
3,c-baixo peso,32006,194164,2100133,3082001,53522,258631,2870307,2850150,5720457
4,d-normal,69008,82887,2837259,65276846,1591639,302964,36890727,33269876,70160603
5,e-peso excessivo,5100,3037,69047,4058587,163670,15353,1905456,2409338,4314794